<div class="container-fluid g-0">
  <app-header (sideBarToggled)="sideBarStatus = $event"></app-header>

  <main>
    <app-side-bar class="sideBar-border" [sideBarStatus]="sideBarStatus"
      [ngClass]="{'app-side-bar-open':sideBarStatus}"></app-side-bar>

    <div class="display-area p-3" [ngClass]="{'display-area-shrink':sideBarStatus}">
      <app-top-cards></app-top-cards>
      <app-recent-order></app-recent-order>
    </div>

  </main>
</div>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>