<div class="container-fluid">
  <div class="row mt-2">
    <div class="col-sm-12 col-12 col-md-6 col-lg-6 col-xl-3 col-xxl-3" *ngFor="let item of topCardsArr; let i = index">
      <div class="card-body rounded-3 white_shd">
        <div class="row">
          <div class="col-sm-10 col-md-10 col-10 col-lg-10 col-xl-10 col-xxl-10">
            <h6>{{item.value + '%'}}</h6>
            <p class="mb-0">{{item.header}}</p>
            <span>Lorem Ipsum is simply dummy...</span>
          </div>
          <div class="col-sm-2 col-md-2 col-2 col-lg-2 col-xl-2 col-xxl-2">
            <i class="fa {{ iconMapping['card' + (i + 1)] }} fa-2x float-end me-5 mt-4" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>